body {
  background-color: black;
}

/* Header */
header {
  height: 100px;
}
header img {
  height: 100%;
  margin-left: 50px;
}

/* Section */
section {
  margin-left: 50px;
}
h3 {
  color: white;
  font-family: "Roboto", sans-serif;
}
.movie {
  display: flex;
  overflow-x: scroll;
  height: 200px;
  gap: 10px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.movie::-webkit-scrollbar {
  display: none;
}
